@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

@keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }

.controls {
  position: absolute;
  background-color: lightcyan;
  bottom: 5%;
  margin-left: 48%;
}

body {
    background-image: url("img/bg.jpg");
    font-family: 'Rubik', sans-serif;
    animation: 1s ease-out 0s 1 slideInFromLeft;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.mainMenu {
    text-align: center;
}

p:hover { 
    cursor: grab;
}

a {
    cursor: grab;
    text-decoration: none;
    font-size: 16;
    color: black;
}

i {
  cursor: pointer;
}
